{% extends 'base.html.twig' %}

{% block title %}New HistoriqueEnchere{% endblock %}

{% block body %}

<style>
    
    #text { color: red; }

</style>


    <h1>Create new HistoriqueEnchere</h1>
    <h3 id="text" >Noubliez pas de REsélectionnez la bonne enchère ;)</h3>

    {{ include('historique_enchere/_form.html.twig') }}

    <a class='btn btn-info' href="{{ path('historique_enchere_index') }}">Retouner a la l'historique d'enchere</a>
{% endblock %}
