/*base*/
body{background: #ebeff2;}
.bck1{background: #fff;}

/*generique*/
.padded{padding: 15px;}

/*header*/
header#header {margin-bottom: 20px;padding: 10px; background-color:rgb(48, 159, 211)}
header#header h1 {text-align: center;color:rgb(54, 53, 53);}

/*footer*/
footer#footer{margin-top: 20px;padding: 10px;}

/*acceuille*/
phraseAcceuille {text-align: center;}