{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle enchère{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle enchère</h1>

    {{ include('enchere/_form.html.twig') }}

    <a class='btn btn-info' href="{{ path('enchere_index') }}">Retourner a la liste des enchères</a>
{% endblock %}
