{% extends 'base.html.twig' %}

{% block title %}New Achat{% endblock %}

{% block body %}
    <h1>Choisisez le nombre de jeton que vous dessirez</h1>

    {{ include('achat/_form.html.twig') }}

    <a href="{{ path('achat_index') }}">back to list</a>
{% endblock %}
